<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>

    <header id="navbar">
        {% if current_user.is_authenticated %}
            <h4 id="user">Hello {{ current_user.username }}</h4>
            <a href="/logout" class="btn btn-one">Logout</a>
        {% else %}
            <a href="/login" class="btn btn-one">Login</a>
            <a href="/register" class="btn btn-one">Create Account</a>
        {% endif %}
    </header>
    
    
    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js"></script>
    <script src="/static/scripts/main.js"></script> 
</body>
</html>